@use '@/assets/scss/style.scss' as *;
@use '@/scss/_variables.scss' as *;

.__video-preview {
    width: 18rem;
    border-radius: 10px;
}

.__module-item-deleteButton {
    .btn-link {
        color: $red;
    }
    Button {
        text-transform: uppercase;
    }
}
.__module-item-cancelButton {
    .btn-link {
        color: $gray-900;
    }
    Button {
        text-transform: uppercase;
    }
}

.__upload-video-card {
    max-width: 100%;
    min-height: 180px;
}
