@use '@/assets/scss/style.scss' as *;
@use '@/scss/_variables.scss' as *;

.__module-item-input {
    border: none;
    background-color: $transparent;
    padding: 0;
    &:focus {
        outline: none;
        border-bottom: 1.5px solid $black;
    }
}
.__module-item-deleteButton {
    .btn-link {
        color: $red;
    }
    Button {
        text-transform: uppercase;
    }
}
.__module-item-cancelButton {
    .btn-link {
        color: $gray-900;
    }
    Button {
        text-transform: uppercase;
    }
}
