@use '@/assets/scss/style.scss' as *;

.__create-course-container {
    .nav-tabs .nav-link {
        background-color: $gray-200;
        font-weight: 500;
    }

    .nav-tabs .nav-link.active {
        background-color: $white;
    }
}
