@use '@/assets/scss/style.scss' as *;

.__create-course-container {
    .nav-tabs .nav-link {
        background-color: $gray-200;
        font-weight: 500;
    }

    .nav-tabs .nav-link.active {
        background-color: $white;
    }

    .__module-item-input {
        border: none;
        background-color: rgb(0, 0, 0, 0);
        &:focus {
            outline: none;
            border-bottom: 1.5px solid $black;
        }
    }
}
