@use '@/assets/scss/style.scss' as *;
@use '@/scss/_variables.scss' as *;

.__create-course-container {
    .nav-tabs .nav-link {
        background-color: $gray-200;
        font-weight: 500;
    }

    .nav-tabs .nav-link.active {
        background-color: $white;
    }

    .__module-item-input {
        border: none;
        background-color: $transparent;
        &:focus {
            outline: none;
            border-bottom: 1.5px solid $black;
        }
    }
    .__module-item-deleteButton {
        .btn-link {
            color: $red;
            &:hover {
                color: #d3031b;
            }
        }
    }
    .__module-item-cancelButton {
        .btn-link {
            color: $gray-900;
            &:hover {
                color: $black;
            }
        }
    }
}
